
  .match-parent {
    width: 100%;
    height: 1800px;
  }

  .container {
    margin-left: 10px;
  }

  .button {
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
    align-content: center;
    width: 250px;
    height: 50px;
    
    
}