<div class="container">
<mat-drawer-container >
    <mat-drawer mode="side" class = "side-content" opened role ="navigation" > 
        <mat-nav-list>
            <a class = "button" mat-list-item routerLink= '/'>Home</a>
        </mat-nav-list>
        <mat-nav-list>
            <a class = "button" mat-list-item routerLink= '/cases_map'>Cases Map</a>
        </mat-nav-list>
        <mat-nav-list>
            <a class = "button" mat-list-item routerLink= '/cases_graph'>Cases Graph</a>
        </mat-nav-list> <mat-nav-list>
            <a class = "button" mat-list-item routerLink= '/death_map'>Death Map</a>
        </mat-nav-list> <mat-nav-list>
            <a class = "button" mat-list-item routerLink= '/death_graph'>Death Graph</a>
        </mat-nav-list>   
    </mat-drawer>

    <mat-drawer-content>
       <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>