<div class = "container">
    <p class = "title">  COVID 19 </p> 
    <p>Hello and Thanking you for taking time to visit this page. I have created this page
    for the people of Minnesota so that they can look at the different graphs and take 
    the precaution accordingly. <p>
    <p class = "sub-title">What is Covid 19?</p>
    <p>Coronavirus disease 2019 (COVID-19) is a respiratory illness that can spread from person to person. The virus that causes
    COVID-19 is a novel coronavirus that was first identified during
        an investigation into an outbreak in Wuhan, China. <a href ="https://www.cdc.gov/coronavirus/2019-ncov/downloads/2019-ncov-factsheet.pdf">(CDC)</a></p>
    <p class = "sub-title">How are Data Collected?</p>
    <p>Data are relased by the Star Tribune that compile data released by the Minnesota Department of Health on the COVID-19 outbreak in Minnesota. 
    The health department generally released updated case information daily at 11 a.m. central time, but the scraper automatically updates these four spreadsheets hourly in case 
    other updates or corrections are made to the site.  <a href = "https://github.com/striblab/mn_covid_data"> (Reference)</a> </p>

    <p class = "sub-title">About the developer</p>
    <p>I am Computer Science student currently Studying at Saint Cloud State University. If you want to 
        contact me for any purpose, you can use the given link. <a href = "https://www.linkedin.com/in/gyawaliamit/">Linkedin </a> , <a href ="https://twitter.com/gyawaliamit7"> Twitter</a> , <a href = "https://www.instagram.com/amit.lfc.gyawali/">Instagram</a>
    <p>




</div>